 <div class="copy">
        <div class="container">
            <a href="#">2023 &copy; Detection and Identification of Pills using MobileNet Model .</a>

            <span>
                <a href=""><i class="fab fa-github"></i></a>
                <a href=""><i class="fab fa-google-plus-g"></i></a>
                <a href="https://in.pinterest.com/prabnr/pins/"><i class="fab fa-pinterest-p"></i></a>
                <a href="https://twitter.com/prabinraja89"><i class="fab fa-twitter"></i></a>
                <a href="https://www.facebook.com/freewebtemplatesbysmarteye"><i class="fab fa-facebook-f"></i></a>
            </span>
        </div>
    </div>

		<script src="{{ url_for('static',filename='assets/js/jquery-3.2.1.min.js')}}"></script>
		<script src="{{ url_for('static',filename='assets/js/popper.min.js')}}/"></script>
		<script src="{{ url_for('static',filename='assets/js/bootstrap.bundle.min.js')}}"></script>

    	<script src="{{ url_for('static',filename='assets/plugins/scroll-fixed/jquery-scrolltofixed-min.js')}}"></script>
		<script src="{{ url_for('static',filename='assets/plugins/testimonial/js/owl.carousel.min.js')}}/"></script>
		<script src="{{ url_for('static',filename='assets/js/script.js')}}"></script>
